body {
  margin: 0 !important;
  font-family: 'Youtube-Sans', sans-serif;

  overflow-x: hidden;
  @apply bg-black;
}

.text-tertiary {
  color: #777777;
}

.art-contextmenus {
  display: none !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}