@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
@font-face {
  font-family: 'Youtube-Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/font/youtube-sans/YTSans-Light-v1-1.woff2) format('woff2'),
  url(/font/youtube-sans/YTSans-Light-v1-1.woff) format('woff');
}
@font-face {
  font-family: 'Youtube-Sans';
  font-style: normal;
  font-weight: 500;
  src: url(/font/youtube-sans/YTSans-Medium-v1-1.woff2) format('woff2'),
  url(/font/youtube-sans/YTSans-Medium-v1-1.woff) format('woff');
}
@font-face {
  font-family: 'Youtube-Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/font/youtube-sans/YTSans-Bold-v1-1.woff2) format('woff2'),
  url(/font/youtube-sans/YTSans-Bold-v1-1.woff) format('woff');
}